body{
    font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
}
.home-navbar {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.span {
    color:#2e2f42;
}
.header-ul .list .etiket {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-ul .list .etiket:hover,
.header-ul .list .etiket:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-ul .list .etiket {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-ul .list .etiket:hover,
.address-ul .list .etiket:focus {
    color: #404BBF;
}
.hero {
    background-color: #2e2f42;

}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
    color: #ffffff;
}
.section2-ul .list .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section2-ul .list .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team {
    background-color: #F4F4FD;
}
.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section3-ul .list .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section3-ul .list .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section3-ul .list {
    background-color: #FFFFFF;
}
.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.port-ul .list .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.port-ul .list .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
}
.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer .logo .span {
    color: #f4f4fd;
}
.footer .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.header-container{
    border-bottom: 1px solid #e7e9fc
}
.header-section {
    display: flex;
    width: 1158px;
    padding: 0 15px
}